body{
    font-family: 'Montserrat', Arial;
    background-color: #000;

    --color-greay-black: #121212;
    --color-greay: #1f1f1f;
    --color-gray-light: #2b2b2b;
    --white-gray: #b3b3b3;
    --white: #ffffff;
    --green: #1ED760;

    --borders: 8px;

    margin: 20px;
    height: calc(100vh - 40px);

    h1{
        font-size: 14px;
        color: var(--white);
        margin: 0;
    }

    h2{
        font-size: 12px;
        color: var(--white-gray);
    }

    .button{
        cursor: all;
        all: unset;

        border-radius: 200px;
        background-color: var(--color-greay);
        color: var(--white-gray); 
        padding: 10px 20px;
        margin-inline: 5px;

        transition: color 0.3s ease-in-out;
    }

    .buttons-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        margin-top: 5px;
        gap: 5px;
    }

    .roundButton{

        cursor: all;
        all: unset;

        border-radius: 100%;
        height: 20px;
        width: 20px;
        background-color: var(--color-greay);
        color: var(--white-gray); 
        padding: 5px;
        font-size: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        transition: color 0.3s ease-in-out;

    }

    .button:hover, .roundButton:hover{
        color: var(--white);
        cursor: pointer;
    }

    .playlist-body{

        display: flex;
        flex-direction: row;

        height: calc(100% - 60px);

        margin-top: 20px;
        gap: 20px;

        .container{
            background-color: var(--color-greay);
            border-radius: var(--borders);

            overflow-x: hidden;
            overflow-y: auto;

            color: var(--white);

            padding: 5;
            gap: 20px;
        }

        .playlist-container {

            position: relative;
            min-width: 30%;
            padding: 10px;

            overflow-x: hidden;
            overflow-y: auto;

            h2{
                background-color: var(--color-gray-light);
                border-radius: var(--borders);

                color: var(--white);

                padding: 10px;
                gap: 20px;
            }

            h2:hover{
                cursor: pointer;
                background-color: var(--green);
                color: var(--color-greay);
            }

            .newPlaylist-container{

                position: absolute;
                bottom: 10;
                width: 100%;

                .newPlayList{

                    cursor: all;
                    all: unset;
                    width: calc(100% - 155px);

                    border-radius: 200px;
                    background-color: var(--color-gray-light);
                    padding: 10px 20px;

                    transition: color 0.3s ease-in-out;

                    color: var(--white);

                    ::placeholder{
                        color: var(--white-gray);
                    }

                }

                .newPlayList:focus{
                    border: var(--white) solid 1px;
                    padding: 9.5px 19.5px;
                }

                .button{
                    background-color: var(--color-gray-light);
                }

                .button:hover{
                    background-color: var(--green);
                    color: var(--color-greay) !important;
                }

            }

        }

        .songs-container{

            position: relative;
            width: 39%;
            padding: 10px;
            gap: 10px;

            overflow-x: hidden;
            overflow-y: auto;

            display: flex;
            flex-direction: column;

            .songPlaylist {
                display: flex;
                flex-direction: row;
                align-items: center;

                background-color: var(--color-gray-light);
                border-radius: var(--borders);

                color: var(--white);

                padding: 5;

                padding: 10px;

                .infoSong{
                    width: calc(100% - 40px);
                    margin-right: 10px;
                }

                h2{
                    color: var(--white);
                    margin: 0px;
                }

                h3{
                    color: var(--white-gray);
                    font-size: 12px;
                    margin: 0px;
                }

                h4{
                    color: var(--white-gray);
                    font-size: 9px;
                    margin: 0px;
                }

            }

        }

        .selected-container{

            width: 30%;

            display: flex;
            flex-direction: column;

            height: calc(100% - 20px);

            gap: 10px;

            padding: 10px;

            overflow-x: hidden;
            overflow-y: auto;

            .savedSong{
                background-color: var(--color-gray-light);
                border-radius: var(--borders);

                color: var(--white);

                padding: 5;

                padding: 10px;

                h2{
                    color: var(--white);
                    margin: 0px;
                }

                h3{
                    color: var(--white-gray);
                    font-size: 12px;
                    margin: 0px;
                }

            }

        }

    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: var(--color-gray-light);
    border-radius: 10px;
}